<nav id="navBar" class="grey darken-4">
  <div class="nav-wrapper container valign-wrapper">

    <a href="/dashboard" class="brand-logo center">
      <img src="/sources/AccountaGoalLogoNoBG.png" alt="Error">
    </a>

    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
      <i class="fas fa-bars"></i>
    </a>
    <ul class="sidenav center" id="mobile-demo">
      <h4 class="green-text text-darken-2">AccountaGoal</h4>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li class="about"><a href="/about/privacypolicy">Privacy Policy</a></li>
    </ul>
  </div>
</nav>
