<div class="row">
  <div class="col s4 offset-s4 chart-data center card">
    {{#each chartData}}
      <div class="chart-cell green darken-2" style="opacity: {{percentage}}"></div>
      <div class="hiddenDailyDetails">
        <span> {{completed}} of {{total}} completed on {{date}}</span>
      </div>
    {{/each}}
  </div>
</div>
