<div class="row">
  <div class="col s4 offset-s4 chart-data center card">
    {{#each chartData as |item|}}
      <div class="chart-cell green darken-2" style="opacity: {{item}}"></div>
    {{/each}}
  </div>
</div>
