<h1>
  <img src="sources/AccountaGoal Logo No BG.png" height="300px">
</h1>
<div class="section">
  <p class="lead">Form great habits one goal at a time!</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <div class="fab fa-google"></div> Log in with Google
  </a>
</div>
