<h1>
  <img src="sources/AccountaGoalLogoNoBG.png" height="300px">
</h1>
<div class="section">
  <span class="lead grey-text text-darken-2">Form great habits one goal at a time!</span>
</div>
<div class="divider"></div>
<div id="loginButton" class="section">
  <a href="/auth/google" class="btn grey darken-3">
    <div class="fab fa-google"></div> Log in with Google
  </a>
</div>
