.login-container{
  width:400px;
  margin-top: 50px;
  text-align: center;
}

.container{
  max-width: none;
  margin: none;
}

p{
  margin: 10px 0;
}

.fa-google{
  margin-right: 10px;
}

.card-image .fa-small{
  font-size: 16px;
}

.img-small{
  width: 4rem;
}

#bodyWrapper{
  width: 100%;
}

#navBar{
  display: flex;
  width: 100%;
}

#navBar > .nav-wrapper{
  max-width: 1400px;
  width:100%;
}

#Wrapper{
  max-width: 1400px;
  margin: 0 auto;
}

.brand-logo{
  max-width: 3em;
  top: -15px;
}

.brand-logo img{
  max-width: 100%;
  max-height: 100%;
}

.input-field > span{
  color: rgba(0, 0, 0, .5);
}

.status.center{
  max-width: 70px;
}

.calendarDay.card.center{
  min-height: 330px;
}

.taskList.col.s12{
  min-height: 50vh;
}

#editDeleteButtons{
  width: 110px;
}

#editDeleteButtons .btn-small{
  opacity: .5;
}
#editDeleteButtons .btn-small:hover{
  opacity: .9;
}

.chart-data.center.card{
  scrollbar-width: thin;
  display: flex;
  flex-wrap: wrap;
  max-height: 50vh;
  overflow-y: hidden;
  padding: 0;
  gap:1px;
}

.chart-data.center.card:hover{
  overflow-y: auto;
}

.chart-cell{
  min-width: 20px;
  min-height: 20px;
  flex-grow: 1;
  aspect-ratio: 1/1;
  width: 13%;
}
