<section id="Wrapper">
  <h5 class="center">New Goals?</h5>
  <div class="row">
    <form class="col s12" action="/goals" method="post">

      <div class="row">
        <div class="input-field">
          <select id="status" name="repeating">
            <option value="false" selected>One Day</option>
            <option value="true">Every Day (Date determines when goal will first appear)</option>
          </select>
          <label for="repeating">Should this goal repeat daily?</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <!-- <input type="date" name="dueDate" value="{{getToday "en-US"}}"
                 min="2022-1-1" max="2023-12-31"> -->
          <input type="text" name="dueDate" value="{{getToday "en-US"}}" class="datepicker">
          <label for="dueDate" id="dueDate">Date</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <span>Describe your goal here</span>
          <textarea name="body" id="contentBody"></textarea>
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Save" class="btn">
        <a href="/dashboard" class="btn red">Cancel</a>
      </div>
    </form>
  </div>
</section>
