
<section id="Wrapper">
  <h3>New Goals?</h3>
  <div class="row">
    <form class="col s12" action="/goals" method="post">

      <div class="row">
        <div class="input-field">
          <select id="status" name="repeating">
            <option value="false" selected>One Time</option>
            <option value="true">Daily</option>
          </select>
          <label for="repeating">Is this goal for today only?</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <input type="date" name="expirationDate" value=""
                 min="2022-1-1" max="2023-12-31">
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <h5>Describe your goal here</h5>
          <textarea name="body" id="contentBody"></textarea>
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Save" class="btn">
        <a href="/dashboard" class="btn red">Cancel</a>
      </div>

    </form>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.1/ckeditor.js" integrity="sha512-Ooi9IbjM2SIDjQ02ENbPFuuORT8F8Rc+rowcYfLneDwKRxw1+gVVj5tciVmV/APnA/Ys+qy1MbNKK3k2EaAHcw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
  CKEDITOR.replace('contentBody', {
    plugins: 'wysiwygarea, toolbar, basicstyles, link'
  })
</script>
