<section id="Wrapper">
  <h5 class="center">Edit Goal</h5>
  <div class="row">
    <form class="col s12" action="/goals/{{goal._id}}" method="post">
      <input type="hidden" name="_method" value="put">

      <div class="row">
        <div class="input-field">
          <select id="status" name="repeating">
            {{#select goal.repeating}}
            <option value="false" selected>One Day</option>
            <option value="true">Every Day (Date determines when goal will first appear)</option>
            {{/select}}
          </select>
          <label for="status">Should this goal repeat daily?</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <span>Change your goal here</span>
          <textarea name="body" id="contentBody">{{stripTags goal.body}}</textarea>
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Save" class="btn">
        <a href="/dashboard" class="btn red">Cancel</a>
      </div>
    </form>
  </div>
</section>
